/* external font link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* site container  */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* header style  */
header {
  background: #060606;
}

/* navbar style  */
nav {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #1f1f1f;
}

/* site logo style  */
.logo-Wrapper {
  width: 165px;
  height: 50px;
}

/* navbar items style  */
.navbar-items {
  grid-column-start: 5;
  grid-column-end: 13;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: flex;
  gap: 50px;
  list-style: none;
}

/* navbar anchor style  */
.navbar-items li a {
  text-decoration: none;
  color: white;
}

.navbar-items li a:hover {
  color: #00ffa7;
}

#active {
  color: #00ffa7;
}

/* top section banner style  */
.topBanner {
  color: white;
  text-align: center;
  display: grid;
  justify-items: center;
}

.topBanner h1 {
  font-size: 120px;
  line-height: 130px;
  padding-top: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.topBanner p {
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 70%;
}

/* top bar button style  */
.topBanner button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 112px;
}

.topBanner button:hover {
  border: 2px solid #00ffa7;
}

.top-name {
  background-image: linear-gradient(to left, #00ffa7, #ffff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* all button style  */
button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: white;
  border: 2px solid #000000;
}

button:hover {
  background: #000;

  color: white;
}

/* button arrow style  */
.btn-arrow-wrap {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 100%;
}

button:hover .btn-arrow-wrap {
  background: linear-gradient(to left, #00ffa7, #ffff00);
}

.main-layout-wrapper {
  margin: 0 auto;
}

.services-offer {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.services-top-info h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}

.services-top-info p {
  font-size: 18px;
  font-weight: 500;
}

.services-page-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-arrow {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 100%;
  box-shadow: 0 14 30 -4 #cecece;
}
.left-arrow {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.services-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  gap: 20px;
}

.single-card {
  background-color: #dfffed;
  border-radius: 20px;
  border: 3px solid black;
}

.joining-logo {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 100%;
}

.card-title {
  display: flex;
  align-items: center;
  padding: 15px 20px 12px 20px;
  gap: 10px;
  border-bottom: 3px solid #000000;
}

.card-title span {
  font-weight: 15px;
  font-weight: 600;
}

.service-details h5 {
  font-size: 23px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 20px;
}

.service-img {
  display: grid;
  justify-content: center;
  border-bottom: 3px solid #000000;
}

.service-img img {
  margin-bottom: -11px;
  height: 156px;
}

.service-btn-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
}

.service-btn-wrapper button {
  width: 118px;
  height: 38px;
  margin: 14px 20px 14px 0;
  padding-left: 6px;
  font-weight: 600;
  font-size: 14px;
}

.service-arrow {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: linear-gradient(to left, #00ffa7, #ffff00);
}

footer {
  background-color: #000000;
  color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 50px;
  margin-top: 64px;
}

.footer-container span {
  border-top: 1px solid #5e5e5e;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #98a6ac;
}
